
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Base styles */
.topper {
  background-color: #F5F5F5;
  height: 40px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px; /* Added padding for better spacing */
}

.topper-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5px;
  width: 100%;
}

hr {
  width: 1px;
  height: 10px;
  background-color: #d1d5db;
  margin-left: 1rem;
  margin: 5px;
}

.socails {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icons {
  gap: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.link {
  margin-left: 500px; /* Align login link */
}

/* Media query for screens smaller than 768px (typical tablets and phones) */
@media (max-width: 768px) {
  .topper {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start for mobile */
    padding: 10px; /* Adjust padding for mobile */
    display: none;
  }

  .topper-content {
    display: none; /* Hidden by default */
    flex-direction: column;
    width: 100%;
  }

  .topper-content.show {
    display: flex; /* Show content when toggled */
  }

  .link {
    margin-left: 0; /* Reset margin for mobile */
    margin-top: 10px; /* Adjust margin for mobile */
  }

  .icons {
    gap: 10px; /* Adjust gap for smaller screens */
    margin-left: 0; /* Reset margin for mobile */
  }

  .toggle-icon {
    display: block;
    font-size: 24px; /* Adjust icon size */
    cursor: pointer;
    margin-bottom: 10px; /* Space between icon and content */
  }
}

/* Media query for screens smaller than 480px (smaller phones like iPhone SE) */
@media (max-width: 480px) {
  .toggle-icon {
    font-size: 20px; /* Smaller icon size for very small screens */
  }

  .topper-content {
    padding: 15px;
  }

  .link {
    margin-top: 5px; /* Adjust margin for very small screens */
  }
}

.scrh{
  height: 57px;
  justify-content: center;
  display: flex;
  align-items: center;
 background-color: #d80606;
 width: 85px;

}


.marketpress {
  background-color:#0F233C;
  width: 100%;
  position:relative;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.dot {
  color: red;
}

.search-bar {
  background-color: white;
  width: 90%;
  max-width: 800px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 60px;
}

#select {
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:black;
  width: 300px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  
  border-radius: 4px;
  margin-top: 8px;
}

#select ul {
  position: absolute;
  top: 120%;
  left: 0;
  list-style: none;
  background-color: red;
  color: #f5f0f0;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.search-bar input {
  padding: 10px 25px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

#select ul.open {
  max-height: 200px; /* Adjusted to reflect the open state */
}

.fa-search{
color:white;

}

.scrh:hover {
  background-color: rgb(44, 231, 44);
  cursor: pointer;
}

.fa-heart-o, .fa-shopping-bag {
  font-size: 30px; /* Adjust the size as needed */
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .marketpress {
    position: absolute;
    flex-direction: row;
    height: 80px;
    padding: 10px 0;
   justify-content: center;
   display: none;
  }

/* .press{
  font-size: 20px;
  margin-left: -50px;
  display: none;
}
  .search-bar {
    width: 95%;
    height: auto;
    flex-direction: column-reverse;
    padding: 10px;
    display: none;
  }

  .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: none;
  }

  #select {
    width: 100%;
    margin-top: 0;
    padding: 15px;
  }

  .fa-search {
    width: 80px;
  }

  .fa-heart-o, .fa-shopping-bag {
    font-size: 25px;
    display: none;
  
  } */
}


.home{
  flex-wrap: nowrap;
 

 
}


/* General Styles */
#selt {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(8, 8, 8);
  width: 400px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  margin-top: 8px;
  height: 60px;
  margin-left: 50px;
}

#selt ul {
  position: absolute;
  top: 120%;
  left: 0;
  list-style: none;
  background-color: rgb(240, 6, 6);
  color: #f5f0f0;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#selt ul li {
  padding: 10px 20px;
  cursor: pointer;
}

#selt ul.open {
  max-height: 200px; /* Adjust this value as needed */
}

.nav-bar {
  display: flex;
  flex-direction: row;
  background-color:white;
  width: 100%;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  gap: 80px;
 position: relative;
}

.manu-bar {
  text-align: center;
  margin-top: 10px;
  /* position: absolute; */
}

.manu-bar ul {
  display: inline-flex;
  list-style: none;
  color: black;
  gap: 50px;
  align-items: center;
}

.manu-bar ul li {
  position: relative; /* Add this line */
  gap: 10px;
  align-items: center;
}

.manu-bar ul li a {
  text-decoration: none;
  color: black;
}

.manu-bar .fa {
  margin-left: 8px;
}

.sub-menu-1 {
  display: none;
  
}

.manu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: white;
  margin-top: 15px;
  margin-left: -15px;
}

.manu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.manu-bar ul li:hover .sub-menu-1 ul li {
  width: 250px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.sub-menu-2 {
  display: none;
}

.manu-bar ul li:hover .sub-menu-2 {
  display: flex;
  position: absolute;
  background-color: white;
  margin-top: 15px;
  margin-left: -15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item img {
  width: 100%; /* Adjust to fit container */
  height: auto; /* Maintain aspect ratio */
  margin: 10px;
}

.get {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55px;
  width: 300px;
  background-color: red;
  border-radius: 10px;
  padding: 30px;
  color: white;
  font-weight: bold;
margin-right: 30px;
}

.get:hover {
  background-color: black;
  transition-duration: 0.5s;
}

#chk1 {
  display: none;
}

.my-bars {
  color: rgb(14, 12, 12);
  cursor: pointer;
}

.bar {
  display: none;
  font-size: 2.5em;
  color: #0F233C;
}


/* Media Queries for Mobile Responsiveness */

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    height: auto;
    gap: 20px;
    background-color:white;
    margin-top: -100px;
    
  }

  .manu-bar ul {
    flex-direction: column;
    gap: 20px;
 display: none;
  }

  .manu-bar ul li {
    position: relative;
  
  }

  .manu-bar .sub-menu-1, .manu-bar .sub-menu-2 {
    position: static;
    margin-top: 10px;
    margin-left: 0;
    
  }

  #selt {
    width: 100%;
    padding: 15px 10px;
    margin-top: 5px;
    height:56px;
    position: relative;
    background-color: aqua;
    margin-bottom: 50px;
    overflow: hidden;
    margin-right: 40px;
  }

  #selt ul {
    top: 100%;
    max-height: 0;
    transition: max-height 0.3s ease;
    /* position: relative; */
    display: none;
  }

  .list {
    position: absolute;
  }

  #selt ul.open {
    max-height: 300px; /* Adjust as needed */
    /* position: relative; */
  }

  .flex-container {
    width: 100%;
    display: none;
  }

  .flex-item img {
    width: 100%; /* Adjust to fit container */
    margin: 5px;
    display: none;
  }

  .get {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    display: none;
  }

  .bar {
    display: block;
    display: none;
  }
}

.banner1,.banner2{
  height: 90vh;
  width: 100%;
  position: static;
  background-color:#0F233C;
  color: white;
}

.images{
  width: 10%;
  position: absolute;
  left: 70%;
  top: 70%;
  transform: translate(-50%, -50%);
  animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out{
   100%{
    width: 40%;
   }
}
.text-box {
  width: 600px;
  position: absolute;
  top: 400px;
  left: 200px;
  animation: textfade 12s ease-in-out infinite;
}

.view {
  background-color: red;
  color: white;
  height: 40px;
  width: 150px;
  position: relative;
  top: 10px; /* Align near the top */
  left: 15%;
  transform: translateX(-50%);
}

.text-box h1{
  margin-bottom: 40px;
}
.text-box p{
  font-size: 14px;
  line-height: 18px;
}

.banner1{
  animation: slide1 12s linear infinite;
}
.banner2{
  animation: slide2 12s linear infinite;
}
@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes textfade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .banner1, .banner2 {
    position:static ;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #fbfcfd;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .text-box {
    width: 600px;
    position: absolute;
    top: 100px;
    left: 20px;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
  }

  .images {
    width: 20%;
    position: absolute;
    left: 40%;
    top: 100%;
    transform: translate(-50%, -50%);
    height: 500px;
    animation: zoom-out 3s linear infinite;
  }
}

.goods{
  position:static;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 70px;
  gap: 20px;
}

.goods-img1{
  height: 400px;
  width: 450px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color:white;
}
.text{
  flex-wrap: nowrap;
}
.pic1{
  width: 120px;
  height: 250px;
  margin-left: 5px;
}

.button1{
  background-color: red;
  height: 45px;
  width: 100px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.button1:hover {
  background-color: black;
}

#pic2{
  background:linear-gradient(rgba(0,0,0,0.5),#dd0f0f),url(carsterring.avif);
  border-radius: 20px;
  height: 400px;
  width: 450px;
}
.goods-img2{
  flex-direction: column;
  color: #d1d5db;
  margin-top: 100px;
  display: flex;
  margin-left: 30px;
}

#pic3{
  background:linear-gradient(rgba(0,0,0,0.5),#dd0f0f),url(car.jpeg);
  border-radius: 20px;
  height: 400px;
  width: 450px;
}
.goods-img3{
  flex-direction: column;
  color: #d1d5db;
  margin-top: 100px;
  display: flex;
  margin-left: 30px;
}

.sales{
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 70px;
  gap: 20px;
  flex-direction: row;

}



.deal-container {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 720px;
  justify-content: space-around;
  position:relative;
 
}

.deal-header {
  background-color: #e60000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav-icons .arrow {
  cursor: pointer;
  margin-left: 10px;
}

.deal-content {
  padding: 20px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.discounted-price {
  color: #e60000;
  font-weight: bold;
  font-size: 1.5em;
}

.availability {
  margin: 10px 0;
  color: #888;
}

.offer-circle {
  background-color: #e60000;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 0.9em;
  position: relative;
  bottom: 20px;
}

.countdown {
  margin-top: 20px;
}

.hurry-up {
  color: #e60000;
  font-weight: bold;
}

.timer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.time-box {
  text-align: center;
  height: 35px;
  width: 33px;
  background-color: #888;
  border-radius: 20px;
}

.time {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.label {
  color: #888;
  margin-left: -10px;
}


/* .product-image:hover{
  background-color: #d1d5db;
 
} */



.other-deals-container{
  position: static;
  height: 720px;
  width: 900px;
}


.deal-card{
  background-color:white;
  height: 330px;
  width: 250px;
  z-index: 0;
  transition: 0.2s all;
  box-shadow: 0 0 0 1px #E2E9ED;
  /* padding: 60px 10px; */
  border-radius: 20px;
  cursor: pointer;
}

.topic{
  justify-content: space-between;
  display: flex;
}
.deal-card .deal-image {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  /* margin-left: 38px; */
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.deal-card:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.deal-title{
  font-weight: bold;
  font-size: large;
  margin: 0 auto 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.costumer{
  
   justify-content: center;
   align-items: center;
   display: flex;
}

.benefits {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  width: 1100px;
 
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-right: 1px solid #ccc;
  justify-content: center;
}

.benefit-item:last-child {
  border-right: none;
}

.benefit-item i {
  font-size: 2rem;
  color: red;
  margin-bottom: 10px;
}

.text .title {
  font-weight: bold;
  margin: 0;
  color: black;
}

.text .subtitle {
  margin: 0;
  color: gray;
}

.hydralic{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.colorful-hydralic{
  background-color:#0F233C;
  width: 1100px;
  height: 350px;
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  justify-content: space-around;
}

.image{
  height: 400px;
  width: 40%;
  margin-bottom: 50px;
}

.top-cart{
  position:relative;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 70px;
  gap: 20px;
  flex-direction: row;
}

.topcart-card{
  height: 620px;
  width: 550px;
  background-color: #F7F7F7;
  box-shadow: #888;
  margin-bottom: 50px;

}

.item-card{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

.offer {
  height: 80px;
  bottom: 20px;
  left: 20px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 150px;
  width: 80px;
}
.offer-image{

  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 150px;

}

.flexer{
flex-direction: column;
display: flex;
gap: 10px;
}

.topcart-card2{
  height: 300px;
  width: 250px;
  background-color: #F7F7F7;
  box-shadow: #888;
}

.item-card2{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 30px;

}

.cart-img{
  height: 150px;
  width: 150px;
}
.top-cart3 {
  background-color: #d80606;
}


.top-cart2{
 flex-direction: column;
}

#benefits{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 1300px;
  height: 200px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 1px solid #ccc;
  justify-content: center;
}

.feature:last-child {
  border-right: none;
}

.feature i {
  font-size: 2rem;
  color: red;
  margin-bottom: 10px;
}

.text .title {
  font-weight: bold;
  margin: 0;
  color: black;
}

.text .subtitle {
  margin: 0;
  color: gray;
}
#topic1{
  font-weight: bold;
width: 1200px;
display: flex;
justify-content: space-between;
border-bottom: 1px solid #646363;
margin-bottom: 40px;
}

.news{
  width: 100%;
  height: 70vh;
  background-color: #F9F9F9;
  margin-top:60px;
  justify-content: center;
  align-items: center;
    display: flex;
    flex-direction: column;
}

#topic2{
  font-weight: bold;
width: 1200px;
display: flex;
justify-content: space-between;
}

.img:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.marketers{
  width: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.logo{
  width: 100%;
  height: 1000px;
  box-shadow: #646363;
  /* justify-content: center; */
  display: flex;
  gap: 40px;
  flex-direction: column;

}

.log{
  gap: 100px;
justify-content: center;
display: flex;
margin-top: 100px;
}

.imga{
  width: 100px;
  height: 100px;

}

.update{
  height: 250px;
  width: 100%;
  background-color: red;
  position:static;
justify-content: center;
align-self: center;
flex-direction: row;
}

.letter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-email{
  height: 60px;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 30px; 
  padding-top: 10px;
}

.update1{
  justify-content: center;
align-self: center;
flex-direction: row;
margin: 30px;
gap:50px;
margin-top: 100px;
}

#sub{
  height: 60px;
  width: 120px;
  background-color: black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
}


.my-email::placeholder {
  color: #0e0d0d; /* Change to your desired color */
  font-size: 14px; /* Change to your desired font size */
  margin: 0px;
  opacity: 0.9; /* Adjust opacity */
  font-weight: 200;
  padding-left: 40px; /* Adjust padding as needed to shift text */
}
#sub:hover{
  background-color: rgb(58, 252, 58);
  cursor: pointer;
  color: white;
}

.footer {
  background-color: #fff;
  padding: 40px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.footer-logo .dot {
  color: #f00;
}

.footer-question {
  margin: 10px 0;
  color: #666;
}

.footer-phone {
  font-size: 18px;
  color: #333;
}

.footer-address {
  margin: 10px 0;
  color: #999;
}

.footer-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.footer-subtitle {
  color: #666;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.footer-secured {
  color: #666;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin: 5px 0;
  color: #666;
}

.back-to-top {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  transform: rotate(-90deg);
  background-color: red !important;
  color: white ;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  width: 200px;

  top: 20%;
 
}

.back-to-top:hover{
  background-color: rgb(51, 236, 51);
}


/* about us */

.about-header{
  background-color: #FAFAFA;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}










.main-about{
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
  margin: 40px;
  width: 100%;
}
.section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  position: relative;
  gap: 200px;
}

.text-container {
  flex: 1;
  max-width: 600px;
  position: relative;
  z-index: 1;
}

.background-title {
  font-size: 7rem;
  color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.small-title {
  color: blue;
  font-weight: bold;
  margin-top: 100px;
  position: relative;
  font-size: 15px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 45px;
  color: #333;
  position: relative;
}

.text-description {
  font-size: 1rem;
  margin-top: 40px;
  color: #666;
  position: relative;
  font-weight: bold;
}

.statistics {
  display: flex;
  gap: 40px;
  position: relative;
  margin-top: 40px;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 2rem;
  font-weight: bold;
  color: blue;
}

.stat-text {
  font-size: 0.875rem;
  color: #666;
}

.image-container {
  flex: 1;
  text-align: right;
  position: relative;
  z-index: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}





.main2-about{
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
  margin: 40px;
  width: 100%;
  background-color: #FAFAFA;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  position: relative;
}

.image-container {
  flex: 1;
  text-align: left;
  position: relative;
  z-index: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  max-width: 600px;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

.background-title {
  font-size: 10rem;
  color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.small-title {
  color: blue;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  position: relative;
}

.text-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
  position: relative;
}

.features-list {
  list-style: none;
  padding: 0;
  position: relative;
}

.feature-item {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.feature-item::before {
  content: "✔";
  color: green;
  margin-right: 10px;
}



#team {
  padding: 50px 0;
  color: #555;
width: 100%;
display: flex;
flex-direction: column;
}

h1 {
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}

/* h1::after {
  content: "";
  background: #007bff;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
} */

.profile-pic {
  margin-top: 25px;
}

.profile-pic .img-box {
  position: relative;
  display: block;
  margin: 20px 60px 0;
  opacity: 1;
}

.profile-pic .img-box img {
  filter: grayscale(1);
}

.profile-pic .img-box img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.profile-pic h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  color: #007bff !important;
}

.profile-pic h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

#team .fa {
  width: 25px;
  height: 25px;
  color: #007bff !important;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
}

.img-box ul {
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 15px 0;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.img-box ul li {
  display: inline-block;
  padding: 5px;
}

.img-box:hover ul {
  opacity: 1;
}

.img-box {
  /* margin: 37px; */

}

.team-img{
 height: 200px;
  width: 10000px;
}

.but{
  width: 100%;
 flex-direction: column;
  background-color: #FAFAFA;
  justify-content: center;
height: 800px;
  display: flex;
}

.update2{
  justify-content: center;
gap: 50px;
width: 100%;
height: 200px;
}

.letter2{
  color: black;
}

.my-email2{
  width: 500px;
  height: 55px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 1px black;
}
#sub2{
  width: 130px;
  height: 55px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#home{
align-items: center;
display: flex;
flex-direction: row;
gap: 20px;
margin-left: 400px;
font-weight: 400;
height: 100px;
}


.my-email2::placeholder {
  color: #0e0d0d; /* Change to your desired color */
  font-size: 14px; /* Change to your desired font size */
  margin: 0px;
  opacity: 0.9; /* Adjust opacity */
  font-weight: 200;
  padding-left: 40px; /* Adjust padding as needed to shift text */
}


#map {
  height: 70vh; /* Full height */
  width: 100%; /* Full width */
  margin-top: 150px;
}



.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;

}

.contact-section {
  text-align: center;
  padding: 50px 0;
  width: 100%;
  height: 700px;

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

label {
  width: 78%;
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
}

.email-label {
  text-align: right;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #631ee2;
  border-radius: 4px;
  font-size: 1rem;

}

textarea {
  height: 100px;
}

.query {
  background-color: #1527ca;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.query:hover {
  background-color: hsl(135, 100%, 58%);
}

.first{
 border: 1px solid blue;
  width: 50%;
  height: 70px;
}
.second{
 border: 1px solid blue;
  width: 50%;
  height: 70px;
}

#subject{
  width: 100%;
  height: 55px;
 
  border: solid 1px blue;
}

#description{
  width: 100%;
  height: 200px;
 
  border: solid 1px blue;
}